# docker-compose -f /home/appstore/appstore_scraping/bin/docker-compose_appleScrapByCategory.yml up

version: '3.9'
name: 'apple_scrap_by_category'
services:
  appleScrapByCategory:
    env_file:
      - ../app.env
    container_name: appleScrapByCategory
    image: appstore_scraping:latest
    environment:
      - TZ=Asia/Seoul
    command: /bin/sh /app/bin/runAppleScrapByCategory.sh
    volumes:
      - /home/appstore/appstore_scraping:/app
      - /data/appstore/images:/images
    
    