# docker-compose -f /home/appstore/appstore_scraping/bin/docker-compose_mobileIndexRankApi.yml up

version: '3.9'
services:
  mobileIndexRankApi:
    env_file:
      - app.env
    container_name: mobileIndexRankApi
    image: appstore_scraping:latest
    environment:
      - TZ=Asia/Seoul
    volumes:
      - /home/appstore/appstore_scraping:/app
      - /data/appstore/images:/images
    command: python3 starter.py mobileIndexRankApi
