# docker-compose -f /home/appstore/appstore_scraping/sample/docker-compose.yml up

version: '3.9'
services:
  mobileIndexAppSearch:
    env_file:
      - app.env
    container_name: mobileIndexAppSearch
    image: appstore_scraping:latest
    environment:
      - TZ=Asia/Seoul
    command: python3 starter.py mobileIndexAppSearch
    volumes:
      - /home/appstore/appstore_scraping:/app
      - /data/appstore/images:/images


