# docker-compose -f .\docker-compose_mobileIndexRankApi.yml up

version: '3.9'
services:
  mobileIndexRankApi:
    env_file:
      - app.env
    container_name: mobileIndexRankApi
    image: appstore_scraping:latest
    environment:
      - TZ=Asia/Seoul
    command: python3 starter.py mobileIndexRankApi
    volumes:
      - "/D/1. Workspace/8. Python/appStoreScrap/appstore_scrap:/app"
      - "/D/1. Workspace/8. Python/appStoreScrap/data/images:/images"